#bodyLogin{
    width: 100%;
    height: 100vh;
    background-color: tomato;
    background-image: linear-gradient(to right, rgba(197, 146, 226, 0), rgb(145, 3, 211));
    background-size: 100%;
}
.bgLogin{
    display: flex;
    position: relative;
    min-height: 500px;
    max-height: auto;
    width: 70%;
    margin: auto;
    top: 60px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px -5px rgb(0, 0, 0);
}
.bgForm{    
    display: block;
    background-color: rgb(255, 255, 255);    
    min-height: 500px;
    max-height: auto;
    border-radius: 0px 10px 10px 0px;
    width: 50%;
}
.bgForm form{
    height: 300px;
    margin-top: 20px;
}
.bgForm a{
    float: right;
    margin: auto;
    margin-right:50px ;
    font-weight: 300;
}
input{
    width: 90%;
    height: 25px;
    border:0;
    border-bottom: inset 1px rgb(196, 194, 194);
    background-color: rgba(255, 255, 255, 0.01);  
}
#inputUser, #inputPass{
    display: flex;
    margin: auto;
    margin-top: 0;
    margin-bottom: 25px;
    width: 80%;
    font-size: 18px;
    color: rgb(196, 194, 194);
}
input:focus-within{
    border-color:rgb(47, 235, 56);
}
form i{  
  margin-top: 10px;
  margin-right:14px ;
}
input, button:focus{
    outline: none;
}

button[type="submit"]{
    display: block;
    position: relative;
    top: 80px;
    width: 80%;
    height: 40px;
    margin: auto;
    background-color:rgb(12, 184, 12) ;
    border:0;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

button:hover{
    -webkit-transform: scale(1.05);
    transition: 0.3s;
}
.bgForm #iconPrincipal{
    display: flex;
    height: 150px;
    margin: auto;
    margin-top: 30px;
}
.bgForm h1, .bgForm p{
    display:none;
}
.bgImage{
    border-radius: 10px 0px 0px 10px;
    width: 50%;
    min-height: 500px;
    max-height: auto;
    background-image: url('../../assets/bgImage.jpg');
    font-weight: 300;
}
.bgImage h1, .bgImage p, .bgImage #vdivisor {
    text-align: center;
    position: relative;
    top: 120px;
    color: white;
    padding-right: 50px;
    padding-left:50px;
    margin: 12px;
}
.bgImage #vdivisor{
    height: 1px;
    width: 10%;
    background-color: rgb(207, 207, 207);
    margin: auto;
}

@media screen and (max-width: 600px){
    .bgLogin{
        width: 90%;
        height: auto;
        margin-bottom:50px;
    }
    .bgForm{
        width: 100%;
        border-radius: 10px;
        background-image:url('../../assets/bgImage.jpg');
        position: relative;
        margin: auto;
    }
    .bgForm form{
        position: relative;
        top: 20px;
        height: 250px;
    }
    .bgForm h1, .bgForm p{
    display: block;
    margin: 15px;
    text-align: center;
    position: relative;
    top:20px;
    color: white;
    padding-right: 30px;
    padding-left:30px;
    }
    .bgForm p {
        font-weight: 300;
        
    }
    .bgForm #iconPrincipal{
        display: none;
    }
    ::placeholder{
        color: white;
    }
    input{
        color: white;
    }
    .bgImage{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .bgLogin{
        width: 90%;
        height: auto;
        margin-bottom:50px;
    }
    .bgForm{
        width: 100%;
        border-radius: 10px;
        background-image:url('../../assets/bgImage.jpg');
        position: relative;
        margin: auto;
    }
    .bgForm form{
        position: relative;
        top: 20px;
        height: 250px;
    }
    .bgForm h1, .bgForm p{
    display: block;
    margin: 15px;
    text-align: center;
    position: relative;
    top:20px;
    color: white;
    padding-right: 30px;
    padding-left:30px;
    }
    .bgForm p {
        font-weight: 300;
        
    }
    .bgForm #iconPrincipal{
        display: none;
    }
    ::placeholder{
        color: white;
    }
    .bgImage{
        display: none;
    }
}